/**********************************************
*** GENERAL
**********************************************/

.insert-pnx1
{
    border-radius: 4px;
    position: absolute;
    left: 27%;
    transform: translateX(-50%);
    top: 120px;
    color: #555;
    font-size: 15px;
    font-family: '';
    text-align: left;
    padding: 10px;
    width: 450px;
    text-transform: none;
    border: 2px solid #cccccc;
}
.insert-pnx2
{
    border-radius: 4px;
    position: absolute;
    left: 75%;
    transform: translateX(-50%);
    top: 120px;
    color: #555;
    font-size: 15px;
    font-family: '';
    text-align: left;
    padding: 10px;
    width: 450px;
    text-transform: none;
    border: 2px solid #cccccc;
}

.insert-pnx2:focus {
    outline:none;
    border: 1px solid #4195fc;
    /* create a BIG glow */
    box-shadow: 0px 0px 9px #4195fc;
    -moz-box-shadow: 0px 0px 9px #4195fc;
    -webkit-box-shadow: 0px 0px 9px #4195fc;

}
.insert-pnx1:focus {
    outline:none;
    border: 1px solid #4195fc;
    /* create a BIG glow */
    box-shadow: 0px 0px 9px #4195fc;
    -moz-box-shadow: 0px 0px 9px #4195fc;
    -webkit-box-shadow: 0px 0px 9px #4195fc;

}

.final-score:focus { outline: none; }

#dice-1 { top: 220px; }
#dice-2 { top: 250px; }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: top;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1050px;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
    overflow: auto;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 500px;
    padding: ;
}



/**********************************************
*** PLAYERS
**********************************************/

.Record-1 {
    color:black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-transform: none;
    letter-spacing: 1px;
    top: 50px;
    left: -182px;
    margin-top: 15px;
    margin-bottom: 10px;
    position: relative;
    background-color:;

}

.Record-2 {
    color:black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-transform: none;
    letter-spacing: 1px;
    top: 12px;
    left: -685px;
    margin-top: 15px;
    margin-bottom: 10px;
    position: relative;
    background-color:;

}

.title {
    color:black;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-transform: none;
    letter-spacing: 1px;
    top: 5px;
    left: -30px;
    margin-top: 15px;
    margin-bottom: 10px;
    position: relative;


}

.message-box {
    white-space: pre-wrap;
    display:none;
    color: black;
    text-align: left;
    font-weight: bold;
    background-color:beige;
    position: absolute;
    left: 50%;
    top: 430px;
    transform: translateX(-50%);
    height: 120px;
    width: 500px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    border-style: inset;
    border-radius: 10px;
    padding: 10px;
}




button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: none;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new
{ top: 380px;
border-style:;
color: black;

}
.btn-reset { top: 380px; left: 31%; color: black;}
.btn-copy { top: 380px; left: 69%; color: black; }

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }
